### GLOBAL
.github/copilot-instructions.md
.vscode/
notes/
node_modules/

### SERVER
# dependencies
server/node_modules/
server/.env/
server/dist/
### CLIENT
app/.env

# dependencies
app/node_modules/

# Expo
app/.expo/
app/dist/
app/web-build/
app/expo-env.d.ts

# Native
app/.kotlin/
app/*.orig.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision

# Metro
.metro-health-check*

# debug
app/npm-debug.*
app/yarn-debug.*
app/yarn-error.*

# macOS
app/.DS_Store
app/*.pem

# local env files
app/.env*.local

# typescript
app/*.tsbuildinfo

# generated native folders
app/ios
app/android

# other
/quickNotes.md
/server/data/csv_edit.js
/server/data/questions400.csv
/server/data/questions800.csv
/server/data/questions1200.csv